Source: shutter
Section: graphics
Priority: optional
Maintainer: Shutter Project Maintainers <shutter-project@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13),
               perl,
               gettext,
               po-debconf
Standards-Version: 4.7.0
Homepage: https://shutter-project.org/
Rules-Requires-Root: no

Package: shutter
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
         libglib-object-introspection-perl,
         gir1.2-gtk-3.0,
         gir1.2-wnck-3.0,
         libnet-dbus-perl,
         libgtk3-imageview-perl | libgtk2-imageview-perl,
         libnumber-bytes-human-perl,
         libxml-simple-perl,
         libhttp-message-perl,
         libdigest-md5-perl,
         libsort-naturally-perl,
         libimage-magick-perl,
         liblocale-gettext-perl,
         libproc-processtable-perl | procps,
         libfile-which-perl,
         libfile-copy-recursive-perl,
         libmoo-perl (>= 2.0),
         libgoocanvas2-perl,
         xdg-desktop-portal,
         xdg-desktop-portal-gtk | xdg-desktop-portal-gnome | xdg-desktop-portal-kde
Recommends: libimage-exiftool-perl, spectacle, cosmic-screenshot
Description: Feature-rich screenshot tool
 Shutter is an advanced screenshot tool.
 It can capture fullscreen, window, section and websites.
 It supports editing, annotations, and uploading.
